@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss"; */

@config "../tailwind.config.js";
@import "tailwindcss";
.font-dancing {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  /* boldest available */
}
[data-slot="menu-toggle"] span {
  display: none !important;
}
