@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss"; */

/* @config "../tailwind.config.js" */

.font-dancing {
  font-family: "Dancing Script", cursive;
  font-weight: 700; /* boldest available */
}
